<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Planet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Name:{{c.nome}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Rotation Period:{{c.rotation_period}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Orbital Period:{{c.orbital_period}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Diameter:{{c.diamentro}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Climate:{{c.clima}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Gravity:{{c.gravidade}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Territory:{{c.terreno}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Surface Water:{{c.surfaceWater}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label>Population:{{c.populacao}} </ion-label>
      </ion-item>
      <ion-item *ngFor="let c of planeta">
        <ion-label> Residents:{{c.moradores}} </ion-label>
      </ion-item>

  </ion-list>
</ion-content>
