
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="film">
       {{ film.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  id="menu" fullscreen *ngIf="film">
  <ion-card>
    <ion-card-header>
      <ion-card-title id="menu">Planets</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ul>
         <li *ngFor="let item of planets">
           {{ item.name }}
         </li>
         <div *ngIf="!planets">
           <li *ngFor="let i of [0,1,2]">
               <ion-skeleton-text animated style="width: 50%">
               </ion-skeleton-text>
           </li>
         </div>
       </ul>
     </ion-card-content>
   </ion-card>
</ion-content>
