<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Return of the Jedi</ion-title>
  </ion-toolbar>
</ion-header>
            
<ion-content>
              <ion-card>
              <ion-card-header>
                <ion-card-title>Description </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Luke Skywalker returned to his home planet of Tatooine in an attempt to rescue his friend Han.
                from the guides of the vile gangster Jabba the Hutt. Little does Luke know that GALACTIC IMPIRE has secretly started a
                construction on a new armored space station even more powerful than the first dreaded
                Death Star. When completed, this final weapon will mean disgrace to the small band of
                rebels working to restore freedom to the galaxy ... ",
                
              </ion-card-content>
            
            </ion-card>
              <ion-list>
                <ion-item *ngFor="let c of descricao" >
                  <ion-label>Director: {{c.diretor}}</ion-label>
                </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item *ngFor="let c of descricao" >        
                    <ion-label>Producer: {{c.produtor}}</ion-label>
                  </ion-item> 
                </ion-list>
            
                  <ion-list>
                    <ion-item *ngFor="let c of descricao" >
                      <ion-label>Release Date: {{c.releaseDate}}</ion-label>
                    </ion-item>
                  </ion-list>
            
                      <ion-list>
                      <ion-item *ngFor="let c of descricao" >
                      <ion-label>Episode: {{c.episode}}</ion-label>
                      </ion-item> 
                      </ion-list>
            
            
            
                      <section>
                        <ion-button id="b0" expand="block" routerLink="/pessoas">Person</ion-button>
                        <ion-button id="b1" expand="block" routerLink="/veiculos">Vehicle</ion-button>
                        <ion-button id="b2" expand="block" routerLink="/planeta">Planet</ion-button>
                        <ion-button id="b3" expand="block" routerLink="/naves">starship</ion-button>
                        <ion-button id="b4" expand="block" routerLink="/especies">Species</ion-button>
                      </section>
            
</ion-content>

          
