<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>A New Hope</ion-title>
  </ion-toolbar>
</ion-header>
            
            <ion-content>
              <ion-card>
              <ion-card-header>
                <ion-card-title>Description </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                It is a period of civil war. Rebel spacecraft, attacking from a hidden base, won their first
                victory against the evil Galactic Empire. During the battle, the Spies rebels managed to steal
                secret plans for the Empire's last weapon, the DEATH STAR, a space station armored with energy
                enough to destroy an entire planet. Sought by the sinister agents of the Empire, Princess Leia
                runs home aboard his star, guardian of stolen plans that can save people and restore
                freedom for the galaxy .... ", 
                
              </ion-card-content>
            
            </ion-card>
              <ion-list>
                <ion-item *ngFor="let c of descricao" >
                  <ion-label>Director: {{c.diretor}}</ion-label>
                </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item *ngFor="let c of descricao" >        
                    <ion-label>Producer: {{c.produtor}}</ion-label>
                  </ion-item> 
                </ion-list>
            
                  <ion-list>
                    <ion-item *ngFor="let c of descricao" >
                      <ion-label>Release Date: {{c.releaseDate}}</ion-label>
                    </ion-item>
                  </ion-list>
            
                      <ion-list>
                      <ion-item *ngFor="let c of descricao" >
                      <ion-label>Episode: {{c.episode}}</ion-label>
                      </ion-item> 
                      </ion-list>
            
            
            
                      <section>
                        <ion-button id="b0" expand="block" routerLink="/pessoas">Person</ion-button>
                        <ion-button id="b1" expand="block" routerLink="/veiculos">Vehicle</ion-button>
                        <ion-button id="b2" expand="block" routerLink="/planeta">Planet</ion-button>
                        <ion-button id="b3" expand="block" routerLink="/naves">starship</ion-button>
                        <ion-button id="b4" expand="block" routerLink="/especies">Species</ion-button>
                      </section>
            </ion-content>
            
     
        
      

