
.scroll-content{
  background: url("../../fundo.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;}

  .pane {
    background-image: url("../../fundo.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#titulo{
  text-align: center;
  background-color: transparent;
  float:top;

}
#menu{  
  text-align: center;
  float: top;
background-color: rgba(255,255,255, 0.1) !important;;
}

.item-content {
  background-color:transparent !important;
}
