<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Revenge of the Sith</ion-title>
  </ion-toolbar>
</ion-header>
            
            <ion-content>
              <ion-card>
              <ion-card-header>
                <ion-card-title>Description </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                War! The Republic is falling apart under the attacks of the cruel Sith Lord, Count Dooku. There are heroes in both
                the sides. The demon is everywhere. In an impressive move, demonic android leader, General Grievous,
                invaded the capital of the Republic and kidnapped Chancellor Palpatine, leader of the Galactic Senate. How the Army Droid
                Separatist even tries to flee the besieged capital with his valuable hostage, two Jedi Knights lead a mission
                desperate to rescue the captive Chancellor .... ",
                
              </ion-card-content>
            
            </ion-card>
              <ion-list>
                <ion-item *ngFor="let c of descricao" >
                  <ion-label>Director: {{c.diretor}}</ion-label>
                </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item *ngFor="let c of descricao" >        
                    <ion-label>Producer: {{c.produtor}}</ion-label>
                  </ion-item> 
                </ion-list>
            
                  <ion-list>
                    <ion-item *ngFor="let c of descricao" >
                      <ion-label>Release Date: {{c.releaseDate}}</ion-label>
                    </ion-item>
                  </ion-list>
            
                      <ion-list>
                      <ion-item *ngFor="let c of descricao" >
                      <ion-label>Episode: {{c.episode}}</ion-label>
                      </ion-item> 
                      </ion-list>
            
            
            
                      <section>
                        <ion-button id="b0" expand="block" routerLink="/pessoas">Person</ion-button>
                        <ion-button id="b1" expand="block" routerLink="/veiculos">Vehicle</ion-button>
                        <ion-button id="b2" expand="block" routerLink="/planeta">Planet</ion-button>
                        <ion-button id="b3" expand="block" routerLink="/naves">starship</ion-button>
                        <ion-button id="b4" expand="block" routerLink="/especies">Species</ion-button>
                      </section>
            
            </ion-content>
            
     
        
      

