<ion-header color="primary">
  <ion-toolbar id="titulo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title  *ngIf="film" >
       {{ film.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen *ngIf="film">
  <ion-card>
   <ion-card-header>
      <ion-card-title  id="menu">Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-padding-top">{{ film.opening_crawl }}</p>
    </ion-card-content>
  </ion-card>
  <ion-list >

    <ion-item  *ngIf="film" >
      <ion-label id="cor" >Director: {{film.director}}</ion-label>
    </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="film" >        
        <ion-label id="cor">Producer: {{film.producer}}</ion-label>
      </ion-item> 
    </ion-list>
  
      <ion-list>
        <ion-item *ngIf="film" >
          <ion-label id="cor" >Release Date: {{film.created}}</ion-label>
        </ion-item>
      </ion-list>
  
          <ion-list>
          <ion-item *ngIf="film" >
          <ion-label id="cor">Episode: {{film.episode_id}}</ion-label>
          </ion-item> 
          </ion-list> 
         
 <section>
       <ion-button  expand="block" [routerLink]="['/pessoa/' + film.episode_id]+'/'">Characters</ion-button>
       <ion-button  expand="block" [routerLink]="['/veiculos/'+ film.episode_id]+'/'">Vehicles</ion-button>
       <ion-button  expand="block" [routerLink]="['/planetas/'+ film.episode_id]+'/'">Planets</ion-button>
       <ion-button  expand="block" [routerLink]="['/naves/'+ film.episode_id]+'/'">Starships</ion-button>
       <ion-button  expand="block" [routerLink]="['/especie/'+ film.episode_id]+'/'">Species</ion-button>
</section>

</ion-content>
